@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');


body {
    width: 375px;
    background-color: #141539;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

@media (min-width: 736px) {
    body {
        width: 500px;
        max-height: 100vh;
    }
}

img {
    width: 80px;
}

/* PANEL */

.panel {
    border: 2px solid #FFFFFF;
    border-radius: 0.4em;
    margin: 1em 0 2em 0;
    padding: 0.1em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel h1 {
    width: 50px;
    font-size: 14px;
    color: #FFFFFF;
}

.panel h2 {
    text-align: center;
    background-color: #FFFFFF;
    padding: 0.4em;
    color: #141539;
    border-radius: 0.3em;
}

/* START JSX */

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../public/images/bg-pentagon.svg") no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.row2 {
    display: flex;
    gap: 6em;
    margin-bottom: 2em;
}

.row3 {
    display: flex;
    gap: 4em;
}

.picked:hover {
    transform: scale(1.1);
}

.picked:hover {
    transition: transform 0.5s;
}

.pickedHouse {
    opacity: 0;
    animation: PHouse 2s forwards;
}

.pickedYour {
    opacity: 0;
    animation: PYour 0.5s forwards;
}

@keyframes PHouse {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes PYour {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.winOrLose {
    animation: pulse 2s ease-in;
    transition: transform 0.5s;
}

@keyframes pulse {

    0%,
    30% {
        transform: scale(0);
        opacity: 1;
    }

    60%,
    80% {
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.5);
    }
}


.bordas {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 140px;
    height: 140px;
}

/* RESULT JSX */

.again {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    line-height: 0.1em;
}

.again p {
    color: #FFFFFF;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}

.again button {
    width: 200px;
    height: 50px;
    background-color: #FFFFFF;
    font-size: 18px;
    border: none;
    border-radius: 0.4em;
    color: #141539;
    text-transform: uppercase;
    font-weight: 700;
}

.again button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.res {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em 0;
    gap: 2em;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.res p {
    margin: 3em 0 0 0;
}

/* RULES */

.rulesButton {
    text-align: center;
    margin-top: 3em;
}

@media (min-width: 736px) {
    .rulesButton {
        margin-top: -2em;
        text-align: end;
    }
}

.rulesButton button {
    background: none;
    border: 2px solid #FFFFFF;
    border-radius: 0.5em;
    color: #FFFFFF;
    padding: 0.5em 1em;
    text-transform: uppercase;
}

.rules {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    overflow-y: hidden;
}

.rules button {
    border: none;
    background: none;
}

.imgModal {
    margin: 0 0 1em 0;
    width: 100%;
}

@media (min-width: 736px) {
    .imgModal {
        width: 37%;
    }
}

.scissors {
    border: 15px solid #ec9e0e;
}

.spock {
    border: 15px solid #40b9ce;
}

.paper {
    border: 15px solid #4865f4;
}

.lizard {
    border: 15px solid #834fe3;
}

.rock {
    border: 15px solid #dc2e4e;
}